.container{
	width:1236px;
	/*background: #ff123b;*/
	margin-left:auto;
	margin-right: auto;	
	padding-bottom:60px;
}
li{
	list-style-type: none;
}

/*清除浮动*/
.clearfix:after{
        content: "";
        clear: both;
        display: block;
        height: 0px;
        visibility: hidden;
}
.clearfix{
        *zoom:1;
}
.first{
	width:1226px;
	margin-left: auto;
	margin-right: auto;
}

/*超链接共同样式*/
a{
	text-decoration:none;
	color:#b0b0b0;
	font-size:12px;
}
a:hover{
	color:#fff;
}
.col-left{
	display:block;
	float:left;
	font-size:20px;
	margin:42px 0px 22px 0px;
}
.col-right1{
	display:block;
	float:right;
	margin:42px 8px 22px 0px;
	cursor:pointer;
}
.all:hover{
	color:#ff6700;
}
.col-right1 li:hover{
	color:#ff6700;
}
.col-right2{
	width:20px;
	height:20px;
	line-height:20px;
	text-align: center;
	border-radius:50%;
	background:#b0b0b0;
	color:#fff;
	float:right;
	margin:42px 0 22px 8px;
	cursor:pointer;
}
.col-right2:hover{
	color:#ff6700;
}
/*loading区域*/
		.loading{
			position: relative;
			width:2px;
			height:20px;
			background-color:#ff6700;
			margin:10px auto;
			animation:sport 0.3s linear 0s alternate infinite;
		}
		.loading:after,.loading:before{
			position: absolute;
			top:0px;
			left: 0px;
			width:2px;
			height:20px;
			background-color:#ff6700;
			content: "";

		}
		.loading:after{
			margin-left:10px;
			transform: scale(1,0.6);
			animation:sport 0.3s linear 0.3s alternate infinite;
		}
		.loading:before{
			margin-left:-10px;
			transform: scale(1,0.4);
			animation:sport 0.3s linear 0.5s alternate infinite;
		}
		@keyframes sport{
			from{
				transform: scale(1,0.4);
				opacity: 0.3;
			}
			to{
				transform: scale(1);
				opacity: 1;
			}
		}